*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root {
  --primaria: #E60000; /* Âmbar escuro */
  --secundaria: #FFFAFA; /* Azul brilhante */
  --escuro: #0F172A; /* Azul ardósia muito escuro */
  --maisEscuro: #020617; /* Quase preto azulado */
  --claro: #E2E8F0; /* Cinza claro frio */
  --vidro: rgba(15, 23, 42, 0.8);
}
                                                                    /* Boddy */

body{
    background-color: var(--maisEscuro);
    color: var(--claro);
}

                                                                    /* Boddy */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
                                                                /* Menu de navegação */
.Nav_bar{
    position: fixed;
    top: 0;
    background: var(--escuro);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.Menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
    
}

.menu-link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem;
}

.menu-link::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria),var(--maisEscuro) ,var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after{
    width: 100%;
}

                                                                /* Menu de navegação */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
                                                            /* Cabeçalho + apresentação */

.cabecalho{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px auto;
}

.Foto-perfil{
    width: 350px;
    height: 420px;
    justify-content: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    border: 4px solid var(--vidro);
}

h1{
    font-size: 3rem;
    color: var(--secundaria);
    font-weight: bold;
    margin: 10px;
}

.p-cabecalho{
    font-size: 2rem;
    color: var(--claro);
}

                                                            /* Cabeçalho + apresentação */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
                                                                    /* Sobre */

.sobre{
    padding-bottom: 80px;
}

.Sobre-titulo{
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 30px;
}

.Sobre-div{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    border-radius:16px;
    border: 1px solid var(--claro);
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.05);
}

.Sobre-p{
    text-align: center;
    font-size: 1.3rem;
}

.projetos{
    padding: 4rem 2rem;
}

                                                                    /* Sobre */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
                                                                    /* Projetos */  

.Projetos-caixa{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1); /* Bordas mais sutis */
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Transição mais suave */
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.projetos-card:hover{
    box-shadow: 0 10px 30px rgba(250, 250, 250, 0.5); /* Sombra no tom da sua cor primária */
    transform: translateY(-10px);
}

.projetos-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.imagem-projeto{
    width: 100%;
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
    display: block;
}

.caixa-textos-projeto{
    padding: 1.5rem;
}

.paragrafo-projetos{
    color: var(--secundaria);
    line-height: 1.25rem;
}

.info-projetos{
    margin-bottom: 5px;
}

                                                                    /* Projetos */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
                                                                    /* Contato */

.contato{

}

.contato-titulo{

}

.formulario-contato{

}

.nome-form{

}

.grupo-form{
    
}

                                                                    /* Contato */